/* Color */

:root{
    --dark-color: #2b2d42;
    --light-color: #fefefe;
    --red-color: #dB0032;
    --cyan-color: #41ead4;

    --red-hover-color: #be0732;
    --cyan-hover-color: #6af3e1;
}

html {
    scroll-behavior: smooth;
    
}

* {
    margin:0;
    box-sizing: border-box;

}



body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 1152px;
    margin : 0 auto;
    padding: 0 100px;

}
p {
    line-height: 2;
    margin-bottom: 20px;
}

section {
    padding-top: 100px;
}

section p {
    color: var(--dark-color);
}

.desktop-nav-edited {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-color);
    box-shadow: 0px 3px 11px rgba(0,0,0,0.1);
    border-radius: 24px;
    padding: 2px 30px;
    padding-right: 0;
    position: fixed;
    z-index: 200;
    width: calc(1152px - 200px);
    top: 28px;
}

.desktop-nav-edited .menu-items {
    display: flex;
    list-style: none;
}

.desktop-nav-edited .menu-items li {
    margin: 0 20px;

}

.desktop-nav-edited .menu-items li:nth-last-of-type(1) {
    margin-right: 0;
}

.desktop-nav-edited .menu-items li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
  
}

.desktop-nav-edited .menu-items li a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--red-color);
    left: 0;
    bottom: -15px; 
    
}

.desktop-nav-edited .menu-items li a.btn-edited {
    color: var(--light-color);
    top: 0;
}

a.btn-edited {
    background: var(--red-color);
    color: var(--light-color);
    border-radius: 24px;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
}

section a.btn-edited {
    display: inline-block;

}

a.btn-edited.cyan {
    background: var(--cyan-color);
    color: var(--dark-color);
}

a.btn-edited:hover {
    background: var(--red-hover-color);
}

a.btn-edited.cyan:hover {
    background: var(--cyan-hover-color);
}

/* Hero Section */

.hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-container .left {
    flex: 1;
}

.hero-container .left p {
    font-size: 24px;
}

.hero-container .left h1 {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    margin: 8px 0 28px 0;
}

.hero-container .left .ben {
    color: var(--red-color); 
}

.hero-container .left .btn-edited {
    margin-right: 20px;
}

.hero-container .right {
    padding-right: 30px;
}

/* Hero BG + Polygons */

.hero-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.hero-container .polygon {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 240px;
}

.hero-container .polygon2 {
    position: absolute;
    z-index: -1;
    top: 180px;
    left: 480px;
}

.hero-container .polygon3 {
    position: absolute;
    z-index: -1;
    top: 300px;
    left: 540px;
}

/* Animation */

.desktop-nav-edited {
    animation: fadeDown 1000ms forwards;
    opacity: 0;
}

@keyframes fadeDown {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-container .left p {
    animation: fadeIn 800ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.hero-container .left h1 {
    animation: fadeToRight 800ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    opacity: 0;
    animation-delay: 800ms;
}

@keyframes fadeToRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-container .left .btn-edited:nth-of-type(1) {
    animation: fadeIn 1000ms forwards;
    opacity: 0;
    animation-delay: 1400ms;
}

.hero-container .left .btn-edited:nth-of-type(2) {
    animation: fadeIn 1000ms forwards;
    opacity: 0;
    animation-delay: 1800ms;
}

.hero-container .right {
    animation: fadeToLeft 1200ms forwards;
    opacity: 0;
    animation-delay: 900ms;
}

@keyframes fadeToLeft {
    from {
        transform: translateX(30px)
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* This polygon animation unresolved
.hero-container .polygon, .hero-container .polygon2, .hero-container .polygon3 {
    opacity: 0;
    animation-name: fadeIn rotate;
    animation-duration: 800ms, 80ms;
    animation-delay: 1800ms;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in, linear;
}

@keyframes rotate {
    from {
         transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
*/

/* Brands Section */

.brands-section {
    box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
    border-radius: 24px;
    background: var(--light-color);
    padding: 32px 50px;
    margin-top: 100px;

}

.brands-section .brands-container img {
    height: 32px;
}

.brands-section .brands-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands-section h2, section h2 {
    font-size: 32px;
    font-family: "Monsterrat", sans-serif;
    color: var(--dark-color);
    margin-bottom: 48px;
    text-align: center;
    position: relative;
}

.brands-section h2::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 3px;
    background: var(--red-color);
    top: 40px;
    transform: translateX(-43px);

}

.brands-section .brands-line1 {
    display: flex;
    justify-content: space-around;
    flex: 2;
}

.brands-section .brands-line2 {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

/* About */

.about-section .about-content {
    display: flex;
    align-items: center;
}

.about-section .about-content img {
    margin-left: 100px;
}

/* Projects Section */

.projects-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 18px;
    margin-bottom:  42px;
}

.projects-gallery img {
    width: 100%;
    object-fit: cover;
}

/* Contact Section */

input[type="text"], 
textarea {
    padding: 16px 30px;
    box-shadow: 0px 6px 16px rgba(0,0,0,0.11);
    border-radius: 24px;
    background: var(--light-color);
    border: 1px solid var(--dark-color);
    font-family: "Roboto", sans-serif;
    flex: 1;
    margin-bottom: 36px;
}

.contact-section .group {
    display: flex;

}

input[type="text"]:nth-of-type(1) {
    margin-right: 16px;
}

input[type="text"]:nth-of-type(2) {
    margin-left: 16px;
}

/* Footer Section*/
footer {
    background: var(--dark-color);
    color: var(--light-color);
    margin-top: 100px;
    padding-bottom: 30px;
}

footer a {
    color: var(--light-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 32px 0;

}

.footer-container .logo-edited {
    align-self: center;
}

.footer-container ul {
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

.footer-container ul li {
    margin: 16px 0;

}

.footer-container .footer-social {
    margin: 30px 0 24px 0;

}

.footer-container .footer-social a {
    text-decoration: none;
    margin: 0 15px;
}

.footer-container .footer-social a:first-child {
    margin-left: 0;
}

.footer-container .footer-social a img {
    transition: 500ms;
}

.footer-container .footer-social a img:hover {
    transform: scale(1.2);
}

.copyright {
    text-align: center;
}

.desktop-nav-edited .menu-icon, .mobile-nav {
    display: none;
}

    /* Harga */

    .box {
        background: var(--light-color);
        border-radius: 4px;
        padding: 30px;
        align-items: center;
    }

    .box .value {
        font-size: 38px;
        color: var(--red-color);
        text-align: center;
        margin: 15px 0px;
    }

    .box .range-slider {
        width: 100%;
        height: 90px;
        border-radius: 10px;
        padding: 30px 20px;
        margin: 0px auto;
        box-shadow: 0 0 10px  rgba(0,0,0,0.1)
    }

    .box .range-slider .circle-range {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: var(--red-color);
        outline: none;
        height: 3px;
    
    }

    .box .range-slider .circle-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: var(--red-color);
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }



/* Media Queries */

@media (max-width: 650px) {
    .wrapper {
        padding: 0;
        width : auto;

    }

    .hero-container .right {
        display: none;
    }

    .desktop-nav-edited .menu-items {
        display: none;
    }
    .desktop-nav-edited {
        width: calc(100% - 16px);
        margin-left: 8px;
        padding: 4px 30px;
    }

    .desktop-nav-edited .logo-edited img {
        height: 36px;
    }
    .desktop-nav-edited .menu-icon {
        display: block;
        cursor: pointer;
    }

    .hero-container .polygon3 {
        display: none;
    }

    .hero-container .polygon2 {
        left: 32px;
        top: 150px;
    }

    .hero-container .polygon {
        left: 300;
        top: 280px;
    }

    .hero-container .left {
        padding-left: 50px;
    }

    .hero-container.left p {
        font-size: 18px;
        margin-bottom: 0;
    }

    .hero-container.left h1 {
        font-size: 30px;
    }
    
    a.btn-edited {
        font-size: 16px;
    }
    /* Brands Section */

    .brands-section {
        border-radius: 0;
        padding: 32px 0;
    }

    .brands-section h2, section h2 {
        font-size: 24px;
    }

    .brands-section h2::after, section h2::after {
        top: 100%;
        width: 40px;
        transform: translateX(-40px);

    }

    .brands-section .brands-container {
        flex-direction: column;
    }

    .brands-section .brands-container img {
        height: 24px;
    }

    .brands-section .brands-line1 {
        width:  100%;
    }

    .brands-section .brands-line1 {
        padding-bottom: 25px;
    }

    .brands-section .brands-line2 {
        width: 60%;
    }
    /* About  */

    section {
        padding: 100ox 30px 0 30px;
    }

    .about-section .about-content {
        flex-direction: column;
    }

    .about-section .about-content img {
        margin-left: 0;
        margin-top: 30px;
    }

    /* Projek */

    .projects-gallery {
        grid-template-columns: 1fr;

    }

    .projects-gallery img {
        height: 240px;
    }

    /* divisi project-gallery tag img dengan class hide */
    .projects-gallery img.hide { 
        display: none;
    }

    /* Contact Section */

    .contact-section .group {
        flex-direction: column;

    }

    .contact-section input[type="text"]:first-child {
        margin-right: 0;
    }

    .contact-section input[type="text"]:last-child {
        margin-left: 0;
    }

    .contact-section input[type="text"] {
        margin-bottom: 30px;
    }

    /* Footer Section */

    .footer-container {
        flex-direction: column;
        text-align: center;
        padding-top: 0;
    }

    .footer-container .footer-nav {
        margin-top: 80px;

    }

    .footer-container .logo-edited {
        order: 2;
    }


    /* Mobile Nav */

    .mobile-nav {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--dark-color);
        right: 0;
        z-index: 200;

        opacity: 0;
        pointer-events: none ;
        top: -100%;
        transition: 400ms;
    }

    .mobile-nav.active {
        opacity: 1;
        pointer-events: auto;
        top: 0;
    }

    .mobile-nav .menu-items {
        list-style: none;
        padding: 0;
    }

    .mobile-nav .menu-items li {
        margin: 20px 0;
    }

    .mobile-nav .menu-items li a {
        color: var(--light-color);
        text-decoration: none;
    }
}

/* Table here */

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--red-color);
    color: var(--light-color);
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--light-color);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--red-color);
}